<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Head -->
<head>
    <meta charset="UTF-8"/>
    <title>K-PaaS Sidecar Portalss</title>
    <link href="/css/c3.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/layout.css?version=0.1" rel="stylesheet" type="text/css"/>
    <link href="/js/css/sidecar.css" rel="stylesheet" type="text/css"/>
    <link href="/js/css/application.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico?v=2'/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/a11y-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<!-- // Head -->
<!-- Body -->
<body>
<span th:replace="fragments/config :: configFragment"></span>
<script type="text/javascript" src="/js/d3-5.4.0.min.js"></script>
<script type="text/javascript" src="/js/c3.min.js"></script>
<script type="text/javascript" src="/js/common.js" th:inline="javascript"></script>
<script type="text/javascript" src="/js/sidecar.js" th:inline="javascript"></script>
<script type="text/javascript" src="/js/modal.js" th:inline="javascript"></script>
<script src="/plugins/jquery/jquery.min.js"></script>
<div id="wrap">
    <!-- Header -->
    <header th:replace="fragments/sidecar :: headerFragment"></header>
    <!-- // Header -->

    <!-- container -->
    <div id="container">
        <!-- aside -->
        <aside th:replace="fragments/aside :: asideFragment"></aside>
        <!-- // aside -->

        <!-- content -->
        <div id="content" class="sub-page application">
            <article class="location">
                <ul>
                    <li><a onclick="movePage(URI_SC_WORKLOADS_APPS)">Workloads</a></li>
                    <li><a onclick="movePage(URI_SC_WORKLOADS_APPS)">Applications</a></li>
                </ul>
            </article>
            <article class="base">
                <div class="notice">
                    <div th:replace="sidecar/workloads/appsDetails"></div>
                    <div layout:fragment="content"></div>
                </div>
                <div class="btn02">
                    <div>
                        <a href="javascript:;" id="delete" class="delete" th:text="#{M0026}"></a>
                        <a class="beforeBtn" onclick="movePage(URI_SC_WORKLOADS_APPS)" th:text="#{M0028}"></a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div layout:fragment="modal"></div>
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>
