<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Managements</a></li>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Organizations</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Org Details</h4>
                <div class="table_style01 detail_table orgDetails">
                    <table>
                        <caption>Org Details</caption>
                        <colgroup>
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Org Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Domain</th>
                            <td class="left" id="domain"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_style01 detail_table">
                    <table>
                        <caption>
                            Details
                        </caption>
                        <colgroup>
                            <col width="80%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Spaces</th>
                        </tr>
                        </thead>
                        <tbody class="space_table"></tbody>
                    </table>
                    <a href="javascript:" class="create-button addSpace" th:text="#{M0223}"></a>
                </div>
                <div class="table_style01 detail_table">
                    <table id="table">
                        <caption>
                            Details
                        </caption>
                        <colgroup>
                            <col width="7%" />
                            <col width="20%" />
                            <col width="35%" />
                            <col width="38%" />
                            <col width="0%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Account</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Services Account</th>
                            <th scope="col">Org Role</th>
                            <!--<th scope="col" class="user-info-col5">RoleGuid</th>-->
                        </tr>
                        </thead>
                        <tbody class="detailList"></tbody>
                    </table>
                    <a href="javascript:" class="create-button addUser" th:text="#{M0223}"></a>
                </div>
            </div>
            <div class="btn02">
                <div>
                    <a href="javascript:;" id="deleteOrg" th:text="#{M0026}"></a>
                    <a class="beforeBtn" onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)" th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script"> </th:block>
</html>
<script type="text/javascript">
    window.onload = () => {
        func.invisible = 1;
        func.init(ASIDE_DP1.MANAGEMENTS, ASIDE_DP2.ORGANIZATIONS);
        callbackFuncNameLoad();

        const detail = {
            offset: 0, // 로드 페이지 넘버
            limit: 10, // 로드 게시물 개수
            allItemCount: 0, //게시물 총 개수
            type: "user",
            users: "",
            orgUserArray : [],

            init() {func.nameLoad = detail.reset; detail.load(); detail.eventSpace(); detail.eventUser();},
            reset() {func.removeHtml(document.querySelector(".listTable")); detail.offset = 0; detail.load(); },
            load() {
                func.loading();
                document.getElementById("name").innerText = sessionStorage.getItem("org_name");
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/organizations/${sessionStorage.getItem("org_guid")}/getDefaultDomain`, "application/json", detail.domain);
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/spaces/list?orgGuids=${sessionStorage.getItem("org_guid")}`, "application/json", detail.space);
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/roles/list?orgGuids=${sessionStorage.getItem("org_guid")}`, "application/json", detail.user);
            },
            domain(data) {document.getElementById("domain").innerText = data.name; },
            space(data) {
                func.removeHtml(document.querySelector(".space_table"));
                if (data.pagination.total_results > 0) {
                    for (var i = 0; i < data.pagination.total_results; i++) {
                        var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.resources[i].name}" data-guid="${data.resources[i].guid}">${data.resources[i].name}</a></td></tr>`;
                        func.appendHtml(document.querySelector(".space_table"), html, "tbody", );
                    }
                } else {
                    sessionStorage.removeItem('space_guid');
                    sessionStorage.removeItem('space_name');
                    var html = "<tr><td class='table-no-data'>No Data.</td></tr>";
                    func.appendHtml(document.querySelector(".space_table"), html, "tbody", );
                }
               detail.listEvent();
            },
            user(sidecar_data) {
                func.loadData("GET", `${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=${detail.type}&searchName`, "application/json", (data) => {
                    cluster_user(data);
                })
                function cluster_user(cluster_data) {
                    if (sidecar_data.pagination.total_results > 0) {
                        //var orgUserArray = [];
                        var existUserIdx = -1 ;

                        for (var i = 0; i < sidecar_data.pagination.total_results; i++) {
                            existUserIdx = -1;
                            var userCheckbox = sidecar_data.resources[i].type === "organization_user" ? "checked" : "";
                            var managerCheckbox = sidecar_data.resources[i].type === "organization_manager" ? "checked" : "";
                            var auditorrCheckbox = sidecar_data.resources[i].type === "organization_auditor" ? "checked" : "";
                            var roleGuid = sidecar_data.resources[i].guid;
                            var userRoleGuid = sidecar_data.resources[i].type === "organization_user" ? sidecar_data.resources[i].guid : "userRoleGuid";
                            var mgrRoleGuid = sidecar_data.resources[i].type === "organization_manager" ? sidecar_data.resources[i].guid : "mgrRoleGuid";
                            var auditorRoleGuid = sidecar_data.resources[i].type === "organization_auditorr" ? sidecar_data.resources[i].guid : "auditorRoleGuid";
                            var userId = sidecar_data.resources[i].relationships.user.data.guid;

                            detail.users = sidecar_data.resources[i].relationships.user.data.guid;
                            if (i > 0)
                                for (let x = 0 ; x < detail.orgUserArray.length ; x++)
                                    if (detail.orgUserArray[x].includes(detail.users)) existUserIdx = x;

                            if (!userId.startsWith("system:serviceaccount:")) {    // UA
                                var account = "UA";
                                var serviceAccountName = "-";
                            } else {  //SA
                                var account = "SA";
                                if (cluster_data.itemMetaData.allItemCount == 0){
                                    serviceAccountName = userId.split(":")[userId.split(":").length - 1];
                                    userId = "-";
                                }else {
                                    for (var j = 0; j < cluster_data.itemMetaData.allItemCount; j++) {
                                        serviceAccountName = userId.split(":")[userId.split(":").length - 1];

                                        if (userId.includes(cluster_data.items[j].serviceAccountName)) {// SA(Portal)
                                            userId = cluster_data.items[j].userId;
                                            serviceAccountName = cluster_data.items[j].serviceAccountName;
                                            break;
                                        } else { // SA(CLI)
                                            if (j == cluster_data.itemMetaData.allItemCount - 1)
                                                userId = "-";
                                        }
                                    }
                                }
                            }

                            if (existUserIdx < 0)
                                detail.orgUserArray.push([account,userId,serviceAccountName,userCheckbox,managerCheckbox,auditorrCheckbox,roleGuid,detail.users, userRoleGuid, mgrRoleGuid,auditorRoleGuid]);
                            else{
                                if (userCheckbox) {
                                    detail.orgUserArray[existUserIdx][3] = userCheckbox;
                                    detail.orgUserArray[existUserIdx][8] = roleGuid;
                                } else if (managerCheckbox) {
                                    detail.orgUserArray[existUserIdx][4] = managerCheckbox;
                                    detail.orgUserArray[existUserIdx][9] = roleGuid;
                                } else if (auditorCheckbox) {
                                    detail.orgUserArray[existUserIdx][5] = auditorCheckbox;
                                }
                            }
                        }

                        for (var i = 0; i < detail.orgUserArray.length; i++) {
                            row = detail.orgUserArray[i];
                            account = row[0];
                            userId = row[1];
                            serviceAccount = row[2];
                            userCheckbox = row[3];
                            managerCheckbox = row[4];
                            auditorrCheckbox = row[5];
                            roleGuid = row[6];
                            var users = row[7];
                            userRoleGuid = row[8];
                            mgrRoleGuid = row[9];
                            auditorRoleGuid = row[10];
                            var oldUserId = document.getElementById(userId);

                            if (oldUserId && oldUserId.textContent !== '-') {
                                var row = oldUserId.parentElement;
                                var checkboxes = row.querySelectorAll('input[type="checkbox"]');
                            }
                            var html = `<tr>
                              <td class="user-info-td1">${account}</td>
                              <td class="user-info-td2" id=${userId}>${userId}</td>
                              <td class="user-info-td3">${serviceAccount}</td>
                              <td class="user-info-td4">
                                <input type="checkbox" id="${users}_user" ${userCheckbox} value="${userRoleGuid}" name="organization_user">
                                <label for="${users}_user" class="checkbox-label">User</label>
                                <input type="checkbox" id="${users}_manager" ${managerCheckbox} value="${mgrRoleGuid}" name="organization_manager">
                                <label for="${users}_manager" class="checkbox-label">Manager</label>
                                <input type="checkbox" id="${users}_auditor" ${auditorrCheckbox} value="${auditorRoleGuid}" name="organization_auditor" disabled >
                                <label for="${users}_auditor">Auditor</label>
                              </td>
                              <td class="user-info-td5">
                                <label id="${roleGuid}"></label>
                              </td>
                            </tr>`;
                            func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                        }
                    } else {
                        var html = "<tr><td colspan=4 class='table-no-data'>No Data.</td></tr>";
                        func.appendHtml(document.querySelector(".detailList"), html, "tbody", );
                    }

                    if (document.getElementById("loading")) {
                        document.getElementById("wrap").removeChild(document.getElementById("loading"));
                    }
                }

                detail.eventDelete();
            },
            listEvent() {
                var listAll = document.querySelector(".space_table").querySelectorAll("a");

                for (var i = 0; i <= listAll.length - 1; i++) {
                    listAll[i].addEventListener("click", (e) => {
                        sessionStorage.setItem("org_name", sessionStorage.getItem("org_name"), );
                        sessionStorage.setItem("org_guid", sessionStorage.getItem("org_guid"), );
                        sessionStorage.setItem("space_name", e.target.getAttribute("data-name"), );
                        sessionStorage.setItem("space_guid", e.target.getAttribute("data-guid"), );

                        document.location.href = URI_SC_MANAGEMENTS_SPACES + URI_SC_DETAILS;
                    }, true, );
                }
            },
            eventSpace() {
                document.querySelector('.addSpace').addEventListener('click', (e) => {
                    funcsc.addSpace('Create Space', 'spaces', MSG_SAVE);
                }, false);
            },
            eventUser() {
                document.querySelector('.addUser').addEventListener('click', (e) => {
                    this.addUser('User List', 'orgs', MSG_SAVE);
                }, false);
            },
            eventDelete() {
                document.getElementById('deleteOrg').addEventListener('click', (e) => {
                    funcsc.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, detail.orgDelete);
                }, false);
            },
            orgDelete() {
                const data = 'org';
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/organizations/${sessionStorage.getItem("org_guid")}`, data, true, 'application/json',  funcsc.movePageToOrgList);
            },
            movePage() {
                location.href = URI_SC_MANAGEMENTS_ORGANIZATIONS;
            },
            addUser(title, url, name) {
                var html = `<div class="modal-wrap" id="modal">
			<div class="modal midium">
				<h5>${title}</h5>
				<dl>
				    <dt>User</dt>
					<dd>
						<fieldset>
							<select id="createName">
							</select>
						</fieldset>
					</dd>
				</dl>
				<dl class="popup_add_user_dl">
					<dt id="popup_add_user_dt">Role</dt>
					<dd class="popup_add_user_dd" >
					        <input type="radio" id="organization_user" name="organization" value="organization_user">
                            <label for="organization_user">User</label>
                            <input type="radio" id="organization_manager" name="organization" value="organization_manager">
                            <label for="organization_manager">Manager</label>
                    </dd>
				</dl>
				<a class="confirm" href="javascript:;">` + BUTTON_ADD + `</a>
				<a class="close" href="javascript:;">` + MSG_CLOSE + `</a>
			</div>
		</div>`;

                func.appendHtml(document.getElementById('wrap'), html, 'div');
                func.loadData("GET", `${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=user&searchName`, "application/json", (data) => {
                    cluster_user(data);
                })
                function cluster_user(data) {
                    for (var i = 0; i <= data.itemMetaData.allItemCount - 1; i++) {
                        for(var j = 0; j < data.items[i].items.length; j++) {
                            alreadyAssing = false;
                            if (data.items[i].items[j].roleSetCode === SIDECAR_ROLE_USER) {
                                for (y = 0; y < detail.orgUserArray.length; y++){
                                    if (detail.orgUserArray[y].includes(data.items[i].items[j].userAuthId)) {
                                        alreadyAssing = true;
                                        break;
                                    }
                                }

                                if (alreadyAssing)
                                    continue;

                                var userId = data.items[i].items[j].userId;
                                var userAuthId = data.items[i].items[j].userAuthId;
                                var html = `<option value="${userAuthId}">${userId}</option>`;
                                func.appendHtml(document.getElementById('createName'), html, 'select');
                            }
                        }
                    }

                    if (document.getElementById('createName').children.length == 0){
                        html = `<option value="notFound" selected>[[#{M0693}]]</option>`
                        func.appendHtml(document.getElementById('createName'), html, 'select');
                        //document.getElementById('createName').selectedIndex = 0;
                    }

                    /*if (sessionStorage.getItem('users') == NAMESPACE_ALL_VALUE) {
                        document.getElementById('createName').selectedIndex = 0;
                    } else {
                        document.getElementById('createName').value = sessionStorage.getItem('users');
                    }*/

                    document.getElementById('modal').querySelector('.close').addEventListener('click', (e) => {
                        document.getElementById('wrap').removeChild(document.getElementById('modal'));
                    }, false);
                    document.getElementById('modal').querySelector('.confirm').addEventListener('click', (e) => {
                        var check = false;
                        var organization = document.getElementsByName('organization');
                        for(var i = 0; i < organization.length; i++){
                            if(organization[i].checked == true) {
                                check = true;
                            }
                        }

                        if(!document.getElementById('createName').value || document.getElementById('createName').value == "notFound"){
                            //alert(ALERT_USER_SELECT);
                            func.alertPopup('', ALERT_USER_SELECT, true, MSG_CONFIRM, 'closed');
                            return;
                        }else if(check == false){
                            //alert(ALERT_TYPE_SELECT);
                            func.alertPopup('', ALERT_TYPE_SELECT, true, MSG_CONFIRM, 'closed');
                            return;
                        }else {
                            var orgGuid = sessionStorage.getItem("org_guid");
                            var type = document.querySelector('input[type=radio][name=organization]:checked').value;
                            var user = "system:serviceaccount:" + SIDECAR_ROOT_NAMESPACE + ":" + document.getElementById('createName').value;
                            var sendData = JSON.stringify({
                                "orgGuid": orgGuid,
                                "type": type,
                                "user": user
                            });

                            funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, sendData, true, 'application/json', func.refresh);
                        }
                    }, false);
                }
            }
        };

        detail.init();
        function checkboxChange(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                var orgGuid = sessionStorage.getItem("org_guid");
                var type = checkbox.getAttribute("name");
                var user = checkbox.id.replace("_user", "").replace("_manager", "").replace("_auditor", "");
                var data = {
                    "orgGuid": orgGuid,
                    "type": type,
                    "user": user
                }
                funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, JSON.stringify(data), true, 'application/json',func.refresh);
            } else {
                const roleLabel = checkbox.parentElement.nextElementSibling.querySelector("label");
                const roleGuid = checkbox.getAttribute("value"); // roleLabel.getAttribute("id");
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/roles/${roleGuid}`, 'role'+roleGuid , true, 'application/json',func.refresh);
            }
        }
        document.addEventListener("change", function(event) {
            const target = event.target;
            if (target.matches("input[type='checkbox']")) {
                checkboxChange(event);
            }
        });
    };
</script>
