<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Managements</a></li>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Organizations</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Org Details</h4>
                <div class="table_style01 detail_table">
                    <table>
                        <caption>Org Details</caption>
                        <colgroup>
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Org Name</th>
                            <td class="left" id="name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Domain</th>
                            <td class="left" id="domain"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_style01 detail_table">
                    <table>
                        <caption>
                            Details
                        </caption>
                        <colgroup>
                            <col width="80%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Spaces</th>
                        </tr>
                        </thead>
                        <tbody class="space_table"></tbody>
                    </table>
                    <a href="javascript:" class="create-button addSpace" th:text="#{M0223}"></a>
                </div>
                <div class="table_style01 detail_table">
                    <table id="table">
                        <caption>
                            Details
                        </caption>
                        <colgroup>
                            <col width="7%" />
                            <col width="20%" />
                            <col width="35%" />
                            <col width="38%" />
                            <col width="0%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Account</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Services Account</th>
                            <th scope="col">Org Role</th>
                            <th scope="col" class="user-info-col5">RoleGuid</th>
                        </tr>
                        </thead>
                        <tbody class="detailList"></tbody>
                    </table>
                    <a href="javascript:" class="create-button addUser" th:text="#{M0223}"></a>
                </div>
            </div>
            <div class="btn02">
                <button onclick="historyBack()" th:text="#{M0028}"></button>
                <div>
                    <button type="delete" id="deleteOrg" th:text="#{M0026}"></button>
                </div>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script"> </th:block>
</html>
<script type="text/javascript">
    window.onload = () => {
        func.init(ASIDE_DP1.MANAGEMENTS, ASIDE_DP2.ORGANIZATIONS);
        callbackFuncNameLoad();

        const detail = {
            offset: 0, // 로드 페이지 넘버
            limit: 10, // 로드 게시물 개수
            allItemCount: 0, //게시물 총 개수
            type: "user",
            users: "",
            init() {func.nameLoad = detail.reset; detail.load(); detail.eventSpace(); detail.eventUser();},
            reset() {func.removeHtml(document.querySelector(".listTable")); detail.offset = 0; detail.load(); },
            load() {
                func.loading();
                document.getElementById("name").innerText = sessionStorage.getItem("org_name");
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/organizations/${sessionStorage.getItem("org_guid")}/getDefaultDomain`, "application/json", detail.domain);
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/spaces/list?orgGuids=${sessionStorage.getItem("org_guid")}`, "application/json", detail.space);
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/roles/list?orgGuids=${sessionStorage.getItem("org_guid")}`, "application/json", detail.user);

            },
            domain(data) {document.getElementById("domain").innerText = data.name; },
            space(data) {
                func.removeHtml(document.querySelector(".space_table"));
                if (data.pagination.total_results > 0) {
                    for (var i = 0; i < data.pagination.total_results; i++) {
                        var html = `<tr><td class="left"><a href="javascript:;" data-name="${data.resources[i].name}" data-guid="${data.resources[i].guid}">${data.resources[i].name}</a></td></tr>`;
                        func.appendHtml(document.querySelector(".space_table"), html, "tbody", );
                    }
                } else {
                    var html = "<tr><td class='table-no-data'>No Data.</td></tr>";
                    func.appendHtml(document.querySelector(".space_table"), html, "tbody", );
                }
               detail.listEvent();
            },
            user(sidecar_data) {
                func.loadData("GET", `${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=${detail.type}&searchName`, "application/json", (data) => {
                    cluster_user(data);
                })
                function cluster_user(cluster_data) {
                    if (sidecar_data.pagination.total_results > 0) {
                        var dataArray = [];
                        for (var i = 0; i < sidecar_data.pagination.total_results; i++) {
                            var userCheckbox = sidecar_data.resources[i].type === "organization_user" ? "checked" : "";
                            var managerCheckbox = sidecar_data.resources[i].type === "organization_manager" ? "checked" : "";
                            var auditorrCheckbox = sidecar_data.resources[i].type === "organization_auditor" ? "checked" : "";
                            var roleGuid = sidecar_data.resources[i].guid;

                            var userId = sidecar_data.resources[i].relationships.user.data.guid;
                            var split = userId.split(":");
                            var userLastPart = split[split.length - 1];

                            detail.users = sidecar_data.resources[i].relationships.user.data.guid;

                            if (!userId.startsWith("system:serviceaccount:")) {    // UA
                                var account = "UA";
                                var serviceAccountName = "-";
                                dataArray[i] = [account,userId,serviceAccountName,userCheckbox,managerCheckbox,auditorrCheckbox,roleGuid,detail.users];
                            } else {  //SA
                                var condition = false;
                                var account = "SA";

                                for (var j = 0; j < cluster_data.itemMetaData.allItemCount; j++) {
                                    var serviceAccountName = cluster_data.items[j].serviceAccountName;

                                    if (serviceAccountName === userLastPart) {       // SA(Portal)
                                        var userId = cluster_data.items[j].userId;
                                        dataArray[i] = [account,userId,serviceAccountName,userCheckbox,managerCheckbox,auditorrCheckbox,roleGuid,detail.users];
                                        condition = true;
                                        break;
                                    }
                                    if (!condition) {          // SA(CLI)
                                        var userId = "-";
                                        dataArray[i] = [account,userId,userLastPart,userCheckbox,managerCheckbox,auditorrCheckbox,roleGuid,detail.users];
                                    }
                                }
                            }
                        }

                        for (var i = 0; i < dataArray.length; i++) {
                            var row = dataArray[i];
                            var account = row[0];
                            var userId = row[1];
                            var serviceAccount = row[2];
                            var userCheckbox = row[3];
                            var managerCheckbox = row[4];
                            var auditorrCheckbox = row[5];
                            var roleGuid = row[6];
                            var users = row[7];
                            var oldUserId = document.getElementById(userId);

                            if (oldUserId && oldUserId.textContent !== '-') {
                                var row = oldUserId.parentElement;
                                var checkboxes = row.querySelectorAll('input[type="checkbox"]');

                                checkboxes.forEach(function(checkbox) {
                                 //   console.log("## " + userCheckbox + ",  " + managerCheckbox + ",  " + auditorrCheckbox + "  ##");
                                    /*

                                                      if (checkbox.checked) {
                                                        console.log("@@" + checkbox.id + ' is checked.');
                                                        if(userCheckbox === 'checked') {

                                                          console.log("1");
                                                        }
                                                        if(managerCheckbox === 'checked') {

                                                          console.log("2");
                                                        }
                                                        if(auditorrCheckbox === 'checked') {

                                                          console.log("3");
                                                        }
                                                      }*/

                                    /* else {
                                    // console.log("@@" + checkbox.id + ' is not checked.');
                                   }
                  */

                                    /*
                                                     if(userCheckbox === 'checked') {
                                                     console.log("## userCheckbox is " + userCheckbox);
                                                     console.log(checkbox.id + ' is checked.');
                                                     checkboxes.checked = true;               }

                                                     if(managerCheckbox === 'checked') {
                                                       console.log("## managerCheckbox is " + managerCheckbox);
                                                       console.log(checkbox.id + ' is checked.');
                                                       checkboxes.checked = true;
                                                     }

                                                     if(auditorrCheckbox === 'checked') {
                                                       console.log("## auditorrCheckbox is " + auditorrCheckbox);
                                                       console.log(checkbox.id + ' is checked.');
                                                       checkboxes.checked = true;
                                                     }
                                    */


                                })
                            }
                            // else {
                            var html = `<tr>
                              <td class="user-info-td1">${account}</td>
                              <td class="user-info-td2" id=${userId}>${userId}</td>
                              <td class="user-info-td3">${serviceAccount}</td>
                              <td class="user-info-td4">
                                <input type="checkbox" id="${users}_user" ${userCheckbox} name="organization_user">
                                <label for="${users}_user" class="checkbox-label">User</label>
                                <input type="checkbox" id="${users}_manager" ${managerCheckbox} name="organization_manager">
                                <label for="${users}_manager" class="checkbox-label">Manager</label>
                                <input type="checkbox" id="${users}_auditor" ${auditorrCheckbox} name="organization_auditor" disabled >
                                <label for="${users}_auditor">Auditor</label>
                              </td>
                              <td class="user-info-td5">
                                <label id="${roleGuid}"></label>
                              </td>
                            </tr>`;
                            //  }
                            func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                        }
                    } else {
                        var html = "<tr><td class='table-no-data'>No Data.</td></tr>";
                        func.appendHtml(document.querySelector(".detailList"), html, "tbody", );
                    }
                }
                if (document.getElementById("loading")) {
                    document.getElementById("wrap").removeChild(document.getElementById("loading"));
                }

                detail.eventDelete();
            },
            listEvent() {
                var listAll = document.querySelector(".space_table").querySelectorAll("a");

                for (var i = 0; i <= listAll.length - 1; i++) {
                    listAll[i].addEventListener("click", (e) => {
                        sessionStorage.setItem("org_name", sessionStorage.getItem("org_name"), );
                        sessionStorage.setItem("org_guid", sessionStorage.getItem("org_guid"), );
                        sessionStorage.setItem("space_name", e.target.getAttribute("data-name"), );
                        sessionStorage.setItem("space_guid", e.target.getAttribute("data-guid"), );

                        document.location.href = URI_SC_MANAGEMENTS_SPACES + URI_SC_DETAILS;
                    }, true, );
                }
            },
            eventSpace() {
                document.querySelector('.addSpace').addEventListener('click', (e) => {
                    funcsc.addSpace('Create Space', 'spaces', MSG_SAVE);
                }, false);
            },
            eventUser() {
                document.querySelector('.addUser').addEventListener('click', (e) => {
                    funcsc.addUser('User List', 'orgs', MSG_SAVE);
                }, false);
            },
            eventDelete() {
                document.getElementById('deleteOrg').addEventListener('click', (e) => {
                    funcsc.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, detail.orgDelete);
                }, false);
            },
            orgDelete() {
                const data = 'org';
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/organizations/${sessionStorage.getItem("org_guid")}`, data, true, 'application/json',  funcsc.movePageToOrgList);
            },
            movePage() {
                location.href = URI_SC_MANAGEMENTS_ORGANIZATIONS;
            }
        };

        detail.init();
        function checkboxChange(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                var orgGuid = sessionStorage.getItem("org_guid");
                var type = checkbox.getAttribute("name");
                var user = checkbox.id.replace("_user", "").replace("_manager", "").replace("_auditor", "");
                var data = {
                    "orgGuid": orgGuid,
                    "type": type,
                    "user": user
                }
                funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, JSON.stringify(data), true, 'application/json',);
            } else {
                const roleLabel = checkbox.parentElement.nextElementSibling.querySelector("label");
                const roleGuid = roleLabel.getAttribute("id");
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/roles/${roleGuid}`, '', true, 'application/json',);
            }
        }
        document.addEventListener("change", function(event) {
            const target = event.target;
            if (target.matches("input[type='checkbox']")) {
                checkboxChange(event);
            }
        });
    };
</script>
