<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Managements</a></li>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Organizations</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Space Details</h4>
                <div class="table_style01 spaceDetails">
                    <table>
                        <caption>Space Details</caption>
                        <colgroup>
                            <col width="20%"/>
                            <col width="80%"/>
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Org Name</th>
                            <td class="left" id="org_name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Space Name</th>
                            <td class="left" id="space_name"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_style01 detail_table">
                    <table id="table">
                        <caption>Details</caption>
                        <colgroup>
                            <col width="7%"/>
                            <col width="20%"/>
                            <col width="35%"/>
                            <col width="38%"/>
                            <col width="0%"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Account</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Services Account</th>
                            <th scope="col">Space Role</th>
                            <th scope="col" class="user-info-col5">RoleGuid</th>
                        </tr>
                        </thead>
                        <tbody class="detailList"></tbody>
                    </table>
                    <a href="javascript:" class="create-button addUser" th:text="#{M0223}"></a>
                </div>
            </div>
            <div class="btn02">
                <div>
                    <a href="javascript:;" id="deleteSpace" th:text="#{M0026}"></a>
                    <a class="beforeBtn" onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS_DETAILS)"
                       th:text="#{M0028}"></a>
                </div>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script"></th:block>
</html>
<script type="text/javascript">
    var cluster_data;
    var sidecar_data;

    window.onload = () => {
        func.init(ASIDE_DP1.MANAGEMENTS, ASIDE_DP2.ORGANIZATIONS);
        callbackFuncNameLoad();

        const detail = {
            offset: 0, // 로드 페이지 넘버
            limit: 10, // 로드 게시물 개수
            allItemCount: 0, //게시물 총 개수
            type: "user",
            users: "",
            init() {
                func.nameLoad = detail.reset;
                detail.load();
                detail.eventUser();
            },
            reset() {
                func.removeHtml(document.querySelector(".listTable"));
                detail.offset = 0;
                detail.load();
            },
            load() {
                func.loading();
                document.getElementById("org_name").innerText = sessionStorage.getItem("org_name");
                document.getElementById("space_name").innerText = sessionStorage.getItem("space_name");
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/roles/list?spaceGuids=${sessionStorage.getItem("space_guid")}`, "application/json", org_user);

                function org_user(sidecarData) {
                    sidecar_data = sidecarData;
                }

                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/roles/list?spaceGuids=${sessionStorage.getItem("space_guid")}`, "application/json", detail.user);
            },
            user(space_data) {
                funcsc.loadDataSidecar("GET", `${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=${detail.type}&searchName`, "application/json", (clusterData) => {
                    cluster_data = clusterData;
                    space_user(clusterData);
                })

                function space_user(clusterData) {
                    if (space_data.pagination.total_results > 0) {
                        var dataArray = [];
                        for (var i = 0; i < space_data.pagination.total_results; i++) {
                            var developerCheckbox = space_data.resources[i].type === "space_developer" ? "checked" : "";
                            var managerCheckbox = space_data.resources[i].type === "space_manager" ? "checked" : "";
                            var auditorrCheckbox = space_data.resources[i].type === "space_auditor" ? "checked" : "";
                            var roleGuid = space_data.resources[i].guid;

                            var userId = space_data.resources[i].relationships.user.data.guid;
                            var split = userId.split(":");
                            var userLastPart = split[split.length - 1];

                            detail.users = space_data.resources[i].relationships.user.data.guid;

                            if (!userId.startsWith("system:serviceaccount:")) {    // UA
                                var account = "UA";
                                var serviceAccountName = "-";
                                dataArray[i] = [account, userId, serviceAccountName, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];

                            } else {  //SA
                                var condition = false;
                                var account = "SA";

                                for (var j = 0; j < clusterData.itemMetaData.allItemCount; j++) {
                                    var serviceAccountName = clusterData.items[j].serviceAccountName;

                                    if (serviceAccountName === userLastPart) {       // SA(Portal)
                                        var userId = clusterData.items[j].userId;
                                        dataArray[i] = [account, userId, serviceAccountName, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];
                                        condition = true;
                                        break;
                                    }

                                    if (!condition) {          // SA(CLI)
                                        var userId = "-";
                                        dataArray[i] = [account, userId, userLastPart, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];
                                    }
                                }
                            }
                        }
                        for (var i = 0; i < dataArray.length; i++) {
                            var row = dataArray[i];
                            var account = row[0];
                            var userId = row[1];
                            var serviceAccount = row[2];
                            var developerCheckbox = row[3];
                            var managerCheckbox = row[4];
                            var auditorrCheckbox = row[5];
                            var roleGuid = row[6];
                            var users = row[7];
                            var oldUserId = document.getElementById(userId);

                            if (oldUserId && oldUserId.textContent !== '-') {
                                var row = oldUserId.parentElement;
                                var checkboxes = row.querySelectorAll('input[type="checkbox"]');
                            }
                            if (!document.getElementById(users + "_developer")) {
                                var html = `<tr>
                                  <td class="user-info-td1">${account}</td>
                                  <td class="user-info-td2" id=${userId}>${userId}</td>
                                  <td class="user-info-td3">${serviceAccount}</td>
                                  <td class="user-info-td4">
                                    <input type="checkbox" id="${users}_developer" ${developerCheckbox} value="${roleGuid}" name="space_developer">
                                    <label for="${users}_developer" class="checkbox-label">Developer</label>
                                    <input type="checkbox" id="${users}_manager" ${managerCheckbox} value="${roleGuid}" name="space_manager">
                                    <label for="${users}_manager" class="checkbox-label"">Manager</label>
                                    <input type="checkbox" id="${users}_auditor" ${auditorrCheckbox} name="space_auditor" disabled >
                                    <label for="${users}_auditor">Auditor</label>
                                  </td>
                                  <td class="user-info-td5">
                                    <label id="${roleGuid}"></label>
                                  </td>
                                </tr>`;
                                func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                            } else {
                                if (managerCheckbox !== "") {
                                    document.getElementById(users + "_manager").checked = true;
                                    document.getElementById(users + "_manager").value = roleGuid;
                                } else if (developerCheckbox !== "") {
                                    document.getElementById(users + "_developer").checked = true;
                                    document.getElementById(users + "_developer").value = roleGuid;
                                }
                            }
                        }
                    } else {
                        var html = "<tr><td colspan=4 class='table-no-data'>No Data.</td></tr>";
                        func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                    }
                }

                if (document.getElementById("loading")) {
                    document.getElementById("wrap").removeChild(document.getElementById("loading"));
                }
                detail.eventDelete();
            },
            eventUser() {
                document.querySelector('.addUser').addEventListener('click', (e) => {
                    addSpaceUser('User List', 'spaces', MSG_SAVE);
                }, false);
            },
            eventDelete() {
                document.getElementById('deleteSpace').addEventListener('click', (e) => {
                    funcsc.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, detail.spaceDelete);
                }, false);
            },
            spaceDelete() {
                const data = 'space';
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/spaces/${sessionStorage.getItem("space_guid")}`, data, true, 'application/json', funcsc.movePageToOrg);
            },
        }

        function addSpaceUser(title, url, name) {
            const spaceUser = document.querySelectorAll(".user-info-td2");
            var flag = false;
            var emptyUser = "조회된 사용자가 없습니다.";

            var html = `<div class="modal-wrap" id="modal">
			<div class="modal midium">
				<h5>${title}</h5>
				<dl>
				    <dt>User</dt>
					<dd>
						<fieldset>
							<select id="createName">`;
            for (var i = 0; i < sidecar_data.pagination.total_results; i++) {
                var userAuthId = sidecar_data.resources[i].relationships.user.data.guid;
                var split = userAuthId.split(":");
                var userLastPart = split[split.length - 1];

                for (var j = 0; j < cluster_data.itemMetaData.allItemCount; j++) {
                    var serviceAccountName = cluster_data.items[j].serviceAccountName;

                    if (serviceAccountName === userLastPart) {
                        var existUserIdx = 0;
                        var userId = cluster_data.items[j].userId;
                        spaceUser.forEach(function (userIdx, index) {

                            if (userIdx.innerText === userId) {
                                existUserIdx++;
                            }
                        })
                        if (existUserIdx == 0) {
                            html += `<option value=${serviceAccountName}>${userId}</option>`;
                            flag = true;
                            break;
                        }
                    }
                }
            }
            if (!flag) {
                html += `<option value="notFound">` + emptyUser + `</option>`;
            }
            html += ` </select>
						</fieldset>
					</dd>
				</dl>
				<dl class="popup_add_user_dl">
					<dt id="popup_add_user_dt">Type</dt>
					<dd class="popup_add_user_dd" >
					        <input type="radio" id="organization_user" name="organization" value="space_developer">
                            <label for="organization_user">Developer</label>
                            <input type="radio" id="organization_manager" name="organization" value="space_manager">
                            <label for="organization_manager">Manager</label>
                    </dd>
				</dl>
				<a class="confirm" href="javascript:;">` + BUTTON_ADD + `</a>
				<a class="close" href="javascript:;">` + MSG_CLOSE + `</a>
			</div>
		</div>`;
            func.appendHtml(document.getElementById('wrap'), html, 'div');
            console.log(`${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=user&searchName`);

            if (sessionStorage.getItem('users') == NAMESPACE_ALL_VALUE) {
                document.getElementById('createName').selectedIndex = 0;
            }
            // else {
            //     document.getElementById('createName').value = sessionStorage.getItem('users');
            // }
            document.getElementById('modal').querySelector('.close').addEventListener('click', (e) => {
                document.getElementById('wrap').removeChild(document.querySelector('.modal-wrap'));
            }, false);
            document.getElementById('modal').querySelector('.confirm').addEventListener('click', (e) => {
                var check = false;
                var organization = document.getElementsByName('organization');

                for (var i = 0; i < organization.length; i++) {
                    if (organization[i].checked) {
                        check = true;
                        break;
                    }
                }
                if (!document.getElementById('createName').value || document.getElementById('createName').value == "notFound") {
                    //alert(ALERT_USER_SELECT);
                    func.alertPopup('', ALERT_USER_SELECT, true, MSG_CONFIRM, 'closed');
                    return;
                } else if (!check) {
                    func.alertPopup('', ALERT_USER_SELECT, true, MSG_CONFIRM, 'closed');
                    //alert(ALERT_TYPE_SELECT);
                    return;
                } else {
                    var spaceGuid = sessionStorage.getItem("space_guid");
                    var type = document.querySelector('input[type=radio][name=organization]:checked').value;
                    var user = "system:serviceaccount:" + SIDECAR_ROOT_NAMESPACE + ":" + document.getElementById('createName').value;
                    var sendData = JSON.stringify({
                        "spaceGuid": spaceGuid,
                        "type": type,
                        "user": user,
                    });
                    funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, sendData, true, 'application/json', func.refresh);
                }
            }, false);
        }

        detail.init();

        function checkboxChange(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                var spaceGuid = sessionStorage.getItem("space_guid");
                var type = checkbox.getAttribute("name");
                var user = checkbox.id.replace("_developer", "").replace("_manager", "").replace("_auditor", "");
                var data = {
                    "spaceGuid": spaceGuid,
                    "type": type,
                    "user": user
                }
                funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, JSON.stringify(data), true, 'application/json', func.refresh);
            } else {
                const roleLabel = checkbox.parentElement.nextElementSibling.querySelector("label");
                const roleGuid = roleLabel.getAttribute("id");
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/roles/${roleGuid}`, '', true, 'application/json', func.refresh);
            }
        }

        document.addEventListener("change", function (event) {
            const target = event.target;
            if (target.matches("input[type='checkbox']")) {
                checkboxChange(event);
            }
        });
    };
</script>