<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Managements</a></li>
                <li><a onclick="movePage(URI_SC_MANAGEMENTS_ORGANIZATIONS)">Organizations</a></li>
            </ul>
        </article>
        <article class="base detail">
            <div class="notice">
                <h4>Space Details</h4>
                <div class="table_style01">
                    <table>
                        <caption>Space Details</caption>
                        <colgroup>
                            <col width="20%" />
                            <col width="80%" />
                        </colgroup>
                        <tbody class="listTable">
                        <tr>
                            <th scope="row" class="left">Org Name</th>
                            <td class="left" id="org_name"></td>
                        </tr>
                        <tr>
                            <th scope="row" class="left">Space Name</th>
                            <td class="left" id="space_name"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_style01 detail_table">
                    <table id="table">
                        <caption>Details</caption>
                        <colgroup>
                            <col width="7%" />
                            <col width="20%" />
                            <col width="35%" />
                            <col width="38%" />
                            <col width="0%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Account</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Services Account</th>
                            <th scope="col">Space Role</th>
                            <th scope="col" class="user-info-col5">RoleGuid</th>
                        </tr>
                        </thead>
                        <tbody class="detailList"></tbody>
                    </table>
                </div>
            </div>
            <div class="btn02">
                <button onclick="historyBack()" th:text="#{M0028}"></button>
                <div>
                    <button type="delete" id="deleteSpace" th:text="#{M0026}"></button>
                </div>
            </div>
        </article>
    </div>
</div>
<th:block layout:fragment="script"> </th:block>
</html>
<script type="text/javascript">
    window.onload = () => {
        func.init(ASIDE_DP1.MANAGEMENTS, ASIDE_DP2.ORGANIZATIONS);
        callbackFuncNameLoad();

        const detail = {
            offset: 0, // 로드 페이지 넘버
            limit: 10, // 로드 게시물 개수
            allItemCount: 0, //게시물 총 개수
            type: "user",
            users: "",
            init() {func.nameLoad = detail.reset; detail.load();},
            reset() {func.removeHtml(document.querySelector(".listTable")); detail.offset = 0; detail.load(); },
            load() {
                func.loading();
                document.getElementById("org_name").innerText = sessionStorage.getItem("org_name");
                document.getElementById("space_name").innerText = sessionStorage.getItem("space_name");
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/roles/list?spaceGuids=${sessionStorage.getItem("space_guid")}`, "application/json", detail.user);
                funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/spaces/${sessionStorage.getItem("space_guid")}/get`, "application/json", '', '', 'space');

            },
            user(space_data) {
                funcsc.loadDataSidecar("GET", `${func.url}clusters/${sessionStorage.getItem("cluster")}/namespaces/all/usersList?userType=${detail.type}&searchName`, "application/json", (cluster_data) => {
                    space_user(cluster_data);
                })
                function space_user(cluster_data) {
                    if (space_data.pagination.total_results > 0) {
                        var dataArray = [];
                        for (var i = 0; i < space_data.pagination.total_results; i++) {
                            var developerCheckbox = space_data.resources[i].type === "space_developer" ? "checked" : "";
                            var managerCheckbox = space_data.resources[i].type === "space_manager" ? "checked" : "";
                            var auditorrCheckbox = space_data.resources[i].type === "space_auditor" ? "checked" : "";
                            var roleGuid = space_data.resources[i].guid;

                            var userId = space_data.resources[i].relationships.user.data.guid;
                            var split = userId.split(":");
                            var userLastPart = split[split.length - 1];

                            detail.users = space_data.resources[i].relationships.user.data.guid;

                            if (!userId.startsWith("system:serviceaccount:")) {    // UA
                                var account = "UA";
                                var serviceAccountName = "-";
                                dataArray[i] = [account, userId, serviceAccountName, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];

                            } else {  //SA
                                var condition = false;
                                var account = "SA";

                                for (var j = 0; j < cluster_data.itemMetaData.allItemCount; j++) {
                                    var serviceAccountName = cluster_data.items[j].serviceAccountName;

                                    if (serviceAccountName === userLastPart) {       // SA(Portal)
                                        var userId = cluster_data.items[j].userId;
                                        dataArray[i] = [account, userId, serviceAccountName, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];
                                        condition = true;
                                        break;
                                    }

                                    if (!condition) {          // SA(CLI)
                                        var userId = "-";
                                        dataArray[i] = [account, userId, userLastPart, developerCheckbox, managerCheckbox, auditorrCheckbox, roleGuid, detail.users];
                                    }
                                }
                            }
                        }
                        for (var i = 0; i < dataArray.length; i++) {
                            var row = dataArray[i];
                            var account = row[0];
                            var userId = row[1];
                            var serviceAccount = row[2];
                            var developerCheckbox = row[3];
                            var managerCheckbox = row[4];
                            var auditorrCheckbox = row[5];
                            var roleGuid = row[6];
                            var users = row[7];
                            var oldUserId = document.getElementById(userId);

                            if (oldUserId && oldUserId.textContent !== '-') {
                                var row = oldUserId.parentElement;
                                var checkboxes = row.querySelectorAll('input[type="checkbox"]');
                            }
                            var html = `<tr>
                                  <td class="user-info-td1">${account}</td>
                                  <td class="user-info-td2" id=${userId}>${userId}</td>
                                  <td class="user-info-td3">${serviceAccount}</td>
                                  <td class="user-info-td4">
                                    <input type="checkbox" id="${users}_developer" ${developerCheckbox} name="space_developer">
                                    <label for="${users}_developer" class="checkbox-label">Developer</label>
                                    <input type="checkbox" id="${users}_manager" ${managerCheckbox} name="space_manager">
                                    <label for="${users}_manager" class="checkbox-label"">Manager</label>
                                    <input type="checkbox" id="${users}_auditor" ${auditorrCheckbox} name="space_auditor" disabled >
                                    <label for="${users}_auditor">Auditor</label>
                                  </td>
                                  <td class="user-info-td5">
                                    <label id="${roleGuid}"></label>
                                  </td>
                                </tr>`;
                            func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                        }
                    } else {
                        var html = "<tr><td colspan=4 class='table-no-data'>No Data.</td></tr>";
                        func.appendHtml(document.querySelector(".detailList"), html, "tbody",);
                    }
                }
                if (document.getElementById("loading")) {
                    document.getElementById("wrap").removeChild(document.getElementById("loading"));
                }
                detail.eventDelete();
            },
            eventDelete() {
                document.getElementById('deleteSpace').addEventListener('click', (e) => {
                    funcsc.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, detail.spaceDelete);
                }, false);
            },
            spaceDelete() {
                const data = 'space';
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/spaces/${sessionStorage.getItem("space_guid")}`, data, true, 'application/json', funcsc.movePageToOrg );
            },
        };
        detail.init();
        function checkboxChange(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                var orgGuid = sessionStorage.getItem("orgGuid");
                var type = checkbox.getAttribute("name");
                var user = checkbox.id.replace("_developer", "").replace("_manager", "").replace("_auditor", "");
                var data = {
                    "orgGuid": orgGuid,
                    "type": type,
                    "user": user
                }
                funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/roles`, JSON.stringify(data), true, 'application/json',);
            } else {
                const roleLabel = checkbox.parentElement.nextElementSibling.querySelector("label");
                const roleGuid = roleLabel.getAttribute("id");
                funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/roles/${roleGuid}`, '', true, 'application/json',);
            }
        };
        document.addEventListener("change", function(event) {
            const target = event.target;
            if (target.matches("input[type='checkbox']")) {
                checkboxChange(event);
            }
        });
    };
</script>