/* Application의 Instance, Service, Environment, Route, Log */
.application .notice ul {overflow:hidden;font-family:'Apple SD Gothic Neo B', sans-serif;}
.application .notice ul li {float:left;padding-left:15px;margin-left:15px;position:relative;}
.application .notice ul li:first-child {padding-left:0;margin-left:0;}
.application .notice ul li:before {content:""; width:2px; height:15px; background-color:#d9d9d9; position:absolute; top:10px; left:0px;}
.application .notice ul li:first-child:before {content:""; display:none;}
.application .notice ul li > a {color:#afb5bb;font-size:26px;line-height:40px;}
.application .notice ul li.on > a {color:#47494d; pointer-events:none;}

/* Application의 Start & Stop & Delete */
.application .notice .title {display: flex;}
.application .notice .title .button {margin-left:auto; margin-bottom:5px;}
.application .notice .title .button a {position: initial;top:50px;right:40px;color:#ffffff;padding:11px 13px 7px 13px;background-color:#0556c0;border-radius:2px;}

.application .notice .listTable input {margin-left:5px;}

/* Application Env의 Create */
.application .notice .title .envButton {margin-left:auto; margin-bottom:5px;line-height:40px;}
.application .notice .title .envButton a {position: initial;top:50px;right:40px;color:#ffffff;padding:11px 13px 7px 13px;background-color:#0556c0;border-radius:2px;}

.application .notice .title .svcButton {margin-left:auto; margin-bottom:5px;line-height:40px;}
.application .notice .title .svcButton a {position: initial;top:50px;right:40px;color:#ffffff;padding:11px 13px 7px 13px;background-color:#0556c0;border-radius:2px;}

.application .notice .title .routeButton {margin-left:auto; margin-bottom:5px;line-height:40px;}
.application .notice .title .routeButton a {position: initial;top:50px;right:40px;color:#ffffff;padding:11px 13px 7px 13px;background-color:#0556c0;border-radius:2px;}

.application .notice .title .logButton {margin-left:auto; margin-bottom:5px;line-height:40px;}
.application .notice .title .logButton a {position: initial;top:50px;right:40px;color:#ffffff;padding:11px 13px 7px 13px;background-color:#0556c0;border-radius:2px;}


/* Application Detail icon*/
.detail_icon {margin-right:10px;}

/* Application의 Select 박스 */

.application .notice select {appearance:none;color:#747474;font-family:'Apple SD Gothic Neo',"Noto Sans KR", "맑은 고딕", sans-serif;min-width:90px;height:36px;padding-left:7px;padding-right:40px;font-size:16px;line-height:34px;vertical-align:top;background-color:#fff;border:1px solid #d1d1d1;}
.application .notice select {height:40px;line-height:40px;width:100%;padding-left:18px;font-size:16px;color:#47494d;cursor:pointer;max-width: 220px;min-width: 150px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.application .notice select {margin-left:5px; max-width: 212px;min-width: 212px;border-color: #ebebeb;}
.application .notice input {border:1px solid #ebebeb;height:40px;line-height:48px;padding-left:18px;margin-left:1px;font-size:16px; max-width: 212px;min-width: 212px;}

input#editName {min-width:429px; max-width:429px;}
#editNameBtn {transform: translate(10px, 10px)}
.editPathBtn {transform: translate(10px, 10px)}

.application .notice input.editPath {width:90%; max-width:none;}

.application tr {border-top: 1px solid #ebebeb;}

.bash {
  font-family: "Nanum Gothic Coding", monospace !important;;
  font-weight: 400 !important;;
  font-style: normal !important;;
}

/* modal */

.connectService dl dt {width:20%;}
.connectService dl dd select {width:90%; margin-top:5px; margin-left:10%; max-width: 100%; border: 1px solid #ebebeb; padding-left: 10px;}
.connectService dl dd .g-select:after {margin-top: 5px;}

.getCredentials dl dt {line-height:250px !important;;}
.addEnvironment dl dt {line-height:50px !important;;}
.addEnvironment dl dt {line-height:50px !important;;}
.addEnvironment dl dd input {border: 1px solid #ebebeb; padding-left: 10px;}


.connectRoute dl dt {width:20%;}
.connectRoute dl dd select {width:90%; margin-top:5px; margin-left:10%; max-width: 100%; border: 1px solid #ebebeb; padding-left: 10px;}
.connectRoute dl dd .g-select:after {margin-top: 5px;}

.modal.push dl {margin-bottom: 10px; width: 720px;}
.modal.push dl dt {width: 110px; line-height: 50px !important;}
.modal.push dl dd {width: 610px;}

.modal.push dl dd input {border: 1px solid #ebebeb; padding-left: 10px;}
.modal.push select#selectDomain {min-width: 350px; width: 350px; height: 100%; height: 50px; line-height: 50px; border-color: #ebebeb; }

.modal.push div#duplicateText {margin-top: 10px;  margin-bottom: 10px;}
.modal.push a.confirm {margin-top: 0px; }

.table_style01 table tr td.started {color:#0ca583;}
.table_style01 table tr td.stopped {color:#f34111;}

.filebox .fileName {
    display: inline-block;
    height: 50px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 500px;
    color: #999999;
}
.filebox label {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 50px;
    width: 95px;
    margin-left: 10px;
}
.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0px !important;
}