.detail_table {
    position: relative;
    margin-bottom: 80px;
    max-height: 320px
}

.create-button {
    position: absolute;
    top: -45px;
    right: 0;
    color: #ffffff;
    padding: 11px 13px 7px 13px;
    background-color: #0556c0;
    border-radius: 2px;
}
.trashcan {
    width: 25%;
    height: 25%;
}
.create-button-listPage {
    position: absolute;
    top: 55px;
    right: 40px;
    color: #ffffff;
    padding: 11px 13px 7px 13px;
    background-color: #0556c0;
    border-radius: 2px;
}
.space_table {
    max-height: 180px;
    overflow-y: auto;
    width: 1070px;
}
/*
.detailList {
    max-height: 300px;
    overflow-y: auto;
}
.table-no-data{
    width: 1070px;
}
*/
.checkbox-label {
    margin-right: 25px;
}
/*
.user-info-td1 {
    width: 74.89px;
}

.user-info-td2 {
    width: 214px;
}
.user-info-td3 {
    width: 374.5px;
}
.user-info-td4 {
    width: 406.61px;
}
.user-info-td5 {
    width: 0px;
    display: none;
}
*/
/*
.user-info-col5 {
    display: none;
}*/
.popup_add_input{
    width: 100%;
    height: 100%;
}
/*
.popup_add_user_dl{
    margin-bottom: 10px;
}
#popup_add_user_dt{
    line-height: 50px;
}*/
.popup_add_user_dd{
    display: flex;
    gap: 100px;
    align-items: center;
}

/* modal */
.modal input#domainName,
.modal input#hostName,
.modal input#path,
.modal input#serviceInstanceName,
.modal input#credentials,
.modal input#orgName,
.modal input#spaceName {
    border: 1px solid #ebebeb;
    padding-left: 10px;
}

.modal dl {
    margin-bottom: 10px;
}

.modal dl dt{
    line-height: 50px;
}

.orgDetails tr,
.spaceDetails tr {
    border-top: 1px solid #ebebeb;
}

.detailList .user-info-td4{
    border-right: 0;
}

h3:hover ul#spaceListUl{
	display: var(--display-style);
}
h3:hover ul#orgListUl{
	display: var(--display-style);
}
