<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/sidecar}">
<div layout:fragment="content">
    <div id="content" class="sub-page">
        <article class="location">
            <ul>
                <li><a onclick="movePage(URI_SC_RESOURCES_ROUTES)">Resources</a></li>
                <li><a onclick="movePage(URI_SC_RESOURCES_ROUTES)">Routes</a></li>
            </ul>
        </article>
        <article class="base">
            <div class="notice">
                <h3>List</h3>
                <div class="table_style01 left">
                    <table>
                        <caption>
                            Route List
                        </caption>
                        <colgroup>
                            <col width="90%" />
                            <col width="10%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">Route</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody class="listTable"></tbody>
                    </table>
                    <a href="javascript:" class="create-button-listPage addRoute" th:text="#{M0223}"></a>
                    <a class="more" href="javascript:">more</a>
                </div>
            </div>
        </article>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript">
        window.onload = () => {
            func.invisible = 2;
            func.init(ASIDE_DP1.RESOURCES, ASIDE_DP2.ROUTES);
            funcsc.initOrgsSpaces();
            callbackFuncNameLoad();

            const route = {
                offset: 0,
                limit: 10,
                total_results: 0,
                delete_tg_guid : 0,
                init() {
                    func.nameLoad = route.reset;
                    route.load();
                    route.event();
                },
                reset() {
                    func.removeHtml(document.querySelector(".listTable"));
                    route.offset = 0;
                    route.load();
                },
                load() {
                    func.loading();
                    setTimeout(() => funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/routes/list?spaceGuids=${sessionStorage.getItem("space_guid")}`, "application/json", route.draw), 500);
                },
                draw(data) {
                    if (route.offset == 0)
                        route.total_results = data.pagination.total_results;

                    if (data.resources.length > 0) {
                        for (var i = 0; i <= data.resources.length - 1; i++) {
                            var trId = "tr" + i;
                            if (i < route.limit) {
                                var html = `<tr><td class="left" id=${trId} ><a href="javascript:;" data-name="${data.resources[i].guid}">${data.resources[i].url}</a></td><td><i class="fa-xl fa-solid fa-trash-can deleteRowBtn custom-access-button trashcan" id="${data.resources[i].guid}"></i></td></tr>`;
                            } else {
                                var html = `<tr style="display: none;" id=${trId}><td class="left"><a href="javascript:;" data-name="${data.resources[i].guid}">${data.resources[i].url}</a></td><td><i class="fa-xl fa-solid fa-trash-can deleteRowBtn custom-access-button trashcan" id="${data.resources[i].guid}"></i></td></tr>`;
                            }
                            func.appendHtml(document.querySelector(".listTable"), html, "tbody",);
                        }
                    } else {
                        var html = `<tr><td colspan="2">No Data.</td></tr>`;
                        func.appendHtml(document.querySelector(".listTable"), html, "tbody", );
                    }
                    // more 버튼 활성, 비활성
                    var endIndex = Math.min(
                        (route.offset + 1) * route.limit,
                        route.total_results,
                    );

                    if (endIndex < route.total_results) {
                        document.querySelector(".more").classList.toggle("on", true);
                    } else {
                        document.querySelector(".more").classList.toggle("on", false);
                    }

                    if (document.getElementById("loading")) {
                        document.getElementById("wrap").removeChild(document.getElementById("loading"));
                    }
                    route.listEvent(data);
                },
                more() {
                    var startIndex = route.offset * route.limit;
                    var endIndex = Math.min(
                        (route.offset + 1) * route.limit,
                        route.total_results,
                    );
                    for (var i = startIndex; i < endIndex; i++) {
                        var trId = "tr" + i;
                        var rows = document.getElementById(trId);
                        rows.style.display = "";
                    }

                    // more 버튼 활성, 비활성
                    if (endIndex < route.total_results) {
                        document.querySelector(".more").classList.toggle("on", true);
                    } else {
                        document.querySelector(".more").classList.toggle("on", false);
                    }

                    if (document.getElementById("loading")) {
                        document
                            .getElementById("wrap")
                            .removeChild(document.getElementById("loading"));
                    }
                },
                event() {
                    document.querySelector(".more").addEventListener("click", (e) => {
                        if (route.limit < route.total_results) {
                            route.offset++;
                            route.more();
                        }
                    }, false,);

                    document.querySelector('.addRoute').addEventListener('click', (e) => {
                        this.addRoute('Create Route', 'routes', MSG_SAVE);
                    }, false,);
                },
                listEvent(data) {
                    var listAll = document.querySelector('.listTable').querySelectorAll('a');
                    for(let i=0 ; i<= listAll.length-1 ; i++){
                        listAll[i].addEventListener('click', (e) => {
                            sessionStorage.setItem('commonName', e.target.innerText);
                            sessionStorage.setItem('commonGuid', e.target.getAttribute("data-name"));
                            document.location.href = URI_SC_RESOURCES_ROUTES + URI_SC_DETAILS;
                        }, true);
                    };

                    let trashcan = document.querySelectorAll(".trashcan");
                    function test() {
                        for(let i = 0; i < trashcan.length; i++) {
                            trashcan[i].addEventListener("click", (e) => {
                                route.delete_tg_guid = data.resources[i].guid;
                                funcsc.alertPopup('DELETE', MSG_CHECK_TO_DELETE, true, MSG_CONFIRM, route.routeDelete);
                            }, false);
                        }
                    }
                    test();
                },
                routeDelete() {
                    const data = "route"+route.delete_tg_guid;
                    funcsc.postData('DELETE', `${funcsc.sidecarUrl}sidecar/routes/${route.delete_tg_guid}`, data, true, 'application/json', func.refresh);
                },

                domains(data) {
                    for (var i = 0 ; i < data.resources.length ; i++) {
                        var html = `<option value="${data.resources[i].guid}">${data.resources[i].name}</option>`;
                        func.appendHtml(document.getElementById('domain'), html, 'select');
                    }
                },

                addRoute(title, url, name) {
                    var html = `<div class="modal-wrap" id="modal">
			<div class="modal midium addRouteModal">
				<h5>${title}</h5>
				<dl>
				    <dt>Host</dt>
					<dd>
						<input class="popup_add_input" type="text" id="hostName" placeholder="${ALERT_HOST_ENTER}" required>
					</dd>
				</dl>
				<dl>
				    <dt>Domain</dt>
					<dd>
						<fieldset>
							<select id="domain" placeholder=${PLACEHOLDER_CREATE_DOMAIN} required>
							</select>
						</fieldset>
					</dd>
				</dl>
				<dl>
				    <dt>Path</dt>
					<dd>
						<input class="popup_add_input" type="text" id="path" placeholder="/foo         ex) 'myapp.example.com\/foo'" required>
					</dd>
				</dl>
				<a class="confirm" href="javascript:;">` + BUTTON_ADD+ `</a>
				<a class="close" href="javascript:;">` + MSG_CLOSE + `</a>
			</div>
		</div>`;

                    func.appendHtml(document.getElementById('wrap'), html, 'div');
   //setTimeout(() => funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/routes/list?spaceGuids=${sessionStorage.getItem("space_guid")}`, "application/json", route.draw), 500);
                    funcsc.loadDataSidecar("GET", `${funcsc.sidecarUrl}sidecar/domains/list`, "application/json", route.domains);

                    document.getElementById('modal').querySelector('.close').addEventListener('click', (e) => {
                        document.getElementById('wrap').removeChild(document.getElementById('modal'));
                    }, false);
                    document.getElementById('modal').querySelector('.confirm').addEventListener('click', (e) => {
                        const host = document.getElementById('hostName').value;
                        const domainGuid = document.getElementById('domain').value;
                        const path = document.getElementById('path').value;
                        const spaceGuid = sessionStorage.getItem("space_guid");

                        if(!host) {
                            alert(ALERT_HOST_ENTER);
                            return;
                        }else if(!domainGuid) {
                            alert(ALERT_DOMAIN_ENTER);
                            return;
                        }else if(path != "" && path.indexOf("\/") < 0) {
                            alert("Type \/");
                            return;
                        }else {
                            var sendData = JSON.stringify({
                                "host": host,
                                "spaceGuid": spaceGuid,
                                "domainGuid": domainGuid,
                                "path": path
                            });
                            funcsc.postData('POST', `${funcsc.sidecarUrl}sidecar/routes`, sendData, true, 'application/json', func.refresh);
                        }
                    }, false);
                }
            };
            route.init();
        };
    </script>
</th:block>
</html>
